{% case page.categories.first %}
    {% when "sermons" %}
        {% assign description = "The following is a sermon transcript." %}
    {% when "high-school-youth" %}
        {% assign description = "The following is a transcript of a message given to a senior high youth group." %}
    {% when "middle-school-youth" %}
        {% assign description = "The following is a transcript of a message given to a middle school youth group." %}
{% endcase %}
{% if description %}
<div class="post-type">
    {{description}}
</div>
{% endif %}