---
---

@import "{{ site.theme }}";

figure {
  img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 auto;
    max-width: 100%;
  }

  figcaption {
    text-align: center;
    color: #555;
  }
}

@media print, screen and (min-width: 600px) {
  figure.right-col {
    float: right;
    margin: 0 0 1rem 1rem;
  }
}
