---
---

@import "{{ site.theme }}";

figure {
  img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 auto;
    max-width: 100%;
  }

  figcaption {
    text-align: center;
    color: #555;
  }
}

hr.footnotes {
  margin: 2rem 0;
  width: 50%;
}

.post-content {
  h2 {
    font-size: 1.3em;
  }
}

.post-type {
  background-color: #eaeaea;
  padding: 0.75rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

@media print, screen and (min-width: 600px) {
  figure.right-col {
    float: right;
    margin: 0 0 1rem 1rem;
  }
}
